<div class="center hero-unit">
  <div class="row">
    <h2>Tech Support Info goes here</h2>
    <p>
      Phone Number to call for 24/7 support</p>
    <p>  Email to send questions into</p>
     <p> Chat now with a specialist </p>
    </p>
  </div>
</div>