<div class="center hero-unit">
  <div class="row">
    <h2>Internet News Feeds</h2>
    <p>
      twitter feed </p>
    <p> Facebook link in</p>
     <p> google alerts and RSS </p>
    </p>
  </div>
</div>